APP_NAME=NODEJWT
MONGODB_CONNECTION=mongodb://docker:mongopw@localhost:55000
MONGO_DB=auth-db
TOKEN_KEY="AMC298hIMjeWDyknGmgg5CuHwX4oZsBsx5HgOjNtovufP0ZmT86viTQqTFMeSeSEwEqAoeQ42nEgp3DHbPCr0l94NwuwS345UVtLd8vGUiJH/Lz5aO77zw7gfERaWgr9ec49+HLaG+DjE3+gh84C4ZJdVCDVjUnkDK+8u0avlUYNhEICa0rZNdhahJ8ZyPtDr5QHpfeQd/w5I6LFCwT8q90B52Fuin9RYmaTe1Qj/Qy23phY3rsNYvIRsA4YjEidpeP9UA7mDgdYL6SL3/RWyrKmYCv/ME2GqQZN98hOaXduyMCA87LKMvU/idwIPhECkswkULDkOVUczVV1cTPh/Q=="
REFRESH_TOKEN="WqQPY/yTAQAn/2i5XfaU6l1MrdnynOFEQUC+3NHd9clHbImHtW8Sz+fo+h8laGaUOv8G+B2nw9eRrSPYUJ1fxkLd14xhPmMwKbe1BY+QZmyFwTXsEzGftY6HifoO7kKnOiQevTlv0OSXTbk3QKNzCrLeiAPVS9qXNsP3hsK2AV4RM5sx+4cmv1PSjOUoxMbcHfh2KjzgC+GoQgLta0+50Vnhkna1ntg9XYuwcgxBbTPG+BaxAga5yPZwFTTdBsoJqMdZEBuuOVnS110R/nMDVo1d5kxhffx5JhsKtGhWhx3R8sVzeCiZadb1zqS0+Oy0qGQR6rYIyotJnuDJw1RkbA=="